body {
  font-family: 'Roboto';
  font-size: 1sp;
  color: black;
}

#title {
  background-color: #8B0000;
}

h1 {
  font-size: 3em;
  color: white;
  text-align: center;
}

.menu {
  border-style: solid;
  border-color: black;
}

table {
  margin:auto;
  width: 100%;
  font-size: 1.5em;
  padding: 0.5em;
}

td.name {
  font-weight: bold;
}
