body {
  font-family: 'Roboto';
  font-size: 1sp;
}

.title {
  background: #8B0000;

}

.menu {
  width = 60%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: black;
}

h1 {
  font-size: 20sp;
  color: white;
  text-align: center;
}
